body {
  background-image: url(https://t4.ftcdn.net/jpg/02/86/37/57/360_F_286375793_tMNCezCxZVJMzXVlunBoKI1JWP72cE9L.jpg); /* Add the path to your image */
  background-size: cover;
}
.container {
  text-align: center;
  border: 5px solid rgb(194, 189, 189);
  background-color: rgb(65, 63, 63);
  color: white;
  width: 100%;
  margin-bottom: -61px;
}
.modal-content {
  border-radius: 12%;
}
.modal-header {
  background-color: #22e0ee;
}
.modal-footer {
  background-color: #22e0ee;
  margin-top: 12%;
}
.py-3 text-centre {
  text-align: center;
}
.py-3 {
  background-color: #22e0ee;
  color: black;
  margin-left: -12px;
  margin-right: -12px;
}

.col-md-6 {
  text-align: left;
  width: 65%;
}
.form-control {
  margin-top: 8px;
}
.btn btn-dark {
  padding-top: 2px;
}
button {
  margin-bottom: 10px;
}
.btn btn-primary {
  margin-bottom: 50;
}

.table {
  color: black;
  background-color: #22e0ee;
  width: 30cm;
  margin-top: 2%;
  margin-left: 60px;
  border-radius: 6px;
}

.tablebody {
  background-color: #e9ecef;
  border-color: black;
}
