#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #fff
    url(https://cdn.dribbble.com/users/189524/screenshots/2822794/silhouette-solo-loader-dribbble_v2.gif)
    no-repeat center;

  z-index: 99999;
}

.container {
  padding: 10px 50px;
  max-width: 600px;
  margin: 0 auto;
}

.formgroup {
  margin-bottom: 20px;
}

.formgroup label {
  display: block;
  font-size: 18px;
  margin-bottom: 6px;
  color: #333; /* Dark grey */
}

.formgroup input {
  width: calc(100% - 20px);
  padding: 10px;
  border: 2px solid #ccc; /* Light grey */
  border-radius: 4px;
  font-size: 15px;
  color: #555; /* Dark grey */
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  border-radius: 20px;
  width: 100px;
  height: 45px;
  font-size: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 2px #000000;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #45a049; /* Darker Green */
}
